body {
    background-color: #1a1a2e; 
    color: #e9c455; 
}

header {
    background-color: #303352; 
    color: #e9c455;
    padding: 1em;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 125px; 
    height: auto;
    margin-right: 10px; 
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #303352; 
    padding: 0.5em;
    border-radius: 15px; 
    margin: 10px 0;
}

nav a {
    color: #e9c455;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px; 
    background-color: #333955; 
}

nav a:hover {
    background-color: #1a1a2e;
    transition: background-color 0.4s
}

section:not(header):not(nav):not(footer) {
    padding: 20px;
    background-color: #35354a; 
    border-radius: 15px; 
    margin: 10px;
    border: 2px solid #e9c455;
}

section:not(header):not(nav):not(footer):hover {
    background-color:#1a1a2e; 
    transition: background-color 0.4s
}

footer {
    padding: 20px;
    background-color:#35354a;
    border-radius: 15px; 
    margin: 10px 0;
    border: 2px solid #e9c455;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-radius: 15px;
    
}

.image-item {
    background-color:#35354a; 
    padding: 20px;
    border-radius: 15px; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #e9c455;

}

.image-item:hover {
    background-color: #1a1a2e; 
    transition: background-color 0.4s;
}

.image-item img {
    max-width: 60%;
    height: auto;
    border: 2px solid #e9c455; }




